@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Fredericka+the+Great|Oswald:400,500,600,700&display=swap');
/*---------------------------------------------- attributes*/

body {
    font-family: Fredericka the Great, cursive;
}

a :hover {
}

#hero-image {
  width: 100%;
  background: url("../images/brooke-lark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  margin: 0px;
}

#hero-text {
   text-transform: uppercase;
   letter-spacing: 8px;

   width: 50%;
   height: 200px;

   padding: 40px 40px 40px 40px;

   background-color: rgba(189, 236, 182, .7);

  position: relative;
  float: right;

  text-align: center;
}

i {
    font-family: Fredericka the Great, cursive;
    text-transform: uppercase;
    font-size: 100%;
    color: #421349;
    text-align: center;
    padding: 10px 0px 10px 0px;
    display: block;
}

h1 {
    font-family: Fredericka the Great, cursive;
    color: #421349;
    text-align: center;
    padding: 5px 0px 5px 0px;
    border: 5px rgba(66, 19, 73, .5);
    border-style: groove none groove none;
    font-size: min(max(40px, 8vw), 50px);
    text-overflow: clip;
}

h2 {
    font-family: Fredericka the Great, cursive;
    font-size: 300%;
    color: #421349;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border: 5px rgba(66, 19, 73, .5);
}


h3 {
    font-family: Fredericka the Great, cursive;
    font-size: bold;
    font-size: 150%;
    color: #421349;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

p {
    font-family: Fredericka the Great, cursive;
    font-size: bold;
    font-size: 100%;
    color: #421349;
    text-align: justify;
    padding: 0px 0px 5px 0px;
}

section {
}

header {
}

footer {
    background-color: #bdecb6;
    padding: 5px 0px 5px 0px;
    margin: 0px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

span {
}

/*----------------------------------------------Classes */

.row {
}

.col {
}

.navbar {
    background-color: #bdecb6;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

.menuitem {
    font-family: Fredericka the Great, cursive;
    list-style-type: none;   
}

.active {
  border-bottom: 1px solid #777777;
}

#circle-cover-bg1 {
  background: url("../images/North_Brabant-Flag.png")
  center;
  object-fit: scale-down;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: center;
}

#circle-cover-bg2 {
  background: url("../images/arno-smit.jpg")
  center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: center;
}

#circle-cover-bg3 {
  background: url("../images/nadine-primeau.jpg")
  center;
  object-fit: scale-down;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: center;
}

.container {
}

#headercontainer {
    margin: 0;
    padding: 20px;
    text-align: center;
}

#textcontainer {
    text-align: center;
}