@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Fredericka+the+Great|Oswald:400,500,600,700&display=swap');
/*---------------------------------------------- attributes*/

body {
    font-family: Fredericka the Great, cursive;
}


nav  a :hover {
    background-color: #bdecb6;
    color: #421349;
    font-size: 150%;
}

nav ul :hover {
    background-color: #bdecb6;
    color: #421349;
    font-size: 110%;
}

#hero-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("../images/brooke-lark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0px 20px 0px;
  margin: 0px;
}

#hero-text {
   text-transform: uppercase;
   letter-spacing: 8px;

   height: 200px;

   padding: 40px 40px 40px 40px;

   background-color: rgba(189, 236, 182, .7);

  position: relative;
  float: right;

  text-align: center;
  overflow: hidden;
}

i {
    font-family: Fredericka the Great, cursive;
    text-transform: uppercase;
    font-size: 100%;
    color: #421349;
    text-align: center;
    padding: 10px 0px 10px 0px;
    display: block;
}

h1 {
    font-family: Fredericka the Great, cursive;
    color: #421349;
    text-align: center;
    padding: 5px 0px 5px 0px;
    border: 5px rgba(66, 19, 73, .5);
    border-style: groove none groove none;
    font-size: min(max(40px, 8vw), 50px);
    text-overflow: clip;
}

h2 {
    font-family: Fredericka the Great, cursive;
    font-size: 200%;
    color: #421349;
    text-align: left;
    padding: 5px 5px 5px 10px;
}


h3 {
    font-family: Fredericka the Great, cursive;
    font-size: 150%;
    color: #421349;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

p {
    font-family: Fredericka the Great, cursive;
    font-size: 100%;
    color: #421349;
    text-align: justify;
    padding: 0px 0px 5px 0px;
}

section {
}

header {
}


footer {
   background-color: #bdecb6;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #421349;
   text-align: center;
   padding: 5px;
   margin-top: 20px;
}

footer a {
    color: #421349;
    margin-top: 20px;
}

footer a :hover {
     text-decoration: none;
}
/*----------------------------------------------Classes */
.navbar {
    background-color: #bdecb6;
    padding: 15px;
    margin: 0px;
    color: #421349;
}

.menuitem {
    font-family: Fredericka the Great, cursive;
    list-style-type: none;  
    padding: 10px; 
}
#circles {
  text-align: center;
}

#circle-cover-bg1 {
  background: url("../images/North_Brabant-Flag.png")
  center;
  background-size: contain;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  align-content: center;
  margin: 20px;
}

#circle-cover-bg2 {
  background: url("../images/arno-smit.jpg")
  center;
  background-size: contain;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: center;
  margin: 20px;
}

#circle-cover-bg3 {
  background: url("../images/nadine-primeau.jpg")
  center;
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: center;
  margin: 20px;
}

#headercontainer {
    margin: 0;
    padding: 20px;
    text-align: center;
}

#textcontainer {
    text-align: center;
}

#textcontainer2 {
     align-content: center;
}
.card {
    border: 5px solid #421349;
    width: 50%;
    position: relative center;
}

.dropdown-menu {
    background-color: #bdecb6;
    color: #421349;
}

.dropdown-item {
    background-color: #bdecb6;
    color: #421349;
    font-weight: 200;
}

.dropdown-menu :hover{
    background-color: #bdecb6;
    color: #421349;
}

.dropdown-item {
    background-color: #bdecb6;
    color: #421349;
    font-weight: 100%;
}

.btn {
    background-color: #bdecb6;
    color: #421349;
    font-weight: 100%;
}

.drinks {
    object-fit: contain;
}

#voucher {
  height: 100%;
  width: 100%;
  overflow: fill;
  background: url("../images/voucher.jpg");
}